[Desktop Entry]
ServiceTypes=KonqPopupMenu/Plugin,image/*
TryExec=convert
Type=Service
Actions=convToJPEG;convToPNG;convToGIF;convToTIF;
X-KDE-Submenu=Convert To
X-KDE-Submenu[ar]=حول إلى
X-KDE-Submenu[be]=Канвертаваць у
X-KDE-Submenu[bg]=Преобразуване в
X-KDE-Submenu[bs]=Pretvori u
X-KDE-Submenu[ca]=Converteix a
X-KDE-Submenu[ca@valencia]=Convertix a
X-KDE-Submenu[cs]=Převést do
X-KDE-Submenu[da]=Konvertér til
X-KDE-Submenu[de]=Umwandeln in
X-KDE-Submenu[el]=Μετατροπή σε
X-KDE-Submenu[en_GB]=Convert To
X-KDE-Submenu[es]=Convertir a
X-KDE-Submenu[et]=Teisendamine
X-KDE-Submenu[eu]=Bihurtu hona
X-KDE-Submenu[fa]=تبدیل به
X-KDE-Submenu[fi]=Muunna muotoon
X-KDE-Submenu[fr]=Convertir en
X-KDE-Submenu[ga]=Tiontaigh Go
X-KDE-Submenu[gl]=Converter en
X-KDE-Submenu[he]=המר אל
X-KDE-Submenu[hne]=ये मां बदलव 
X-KDE-Submenu[hr]=Pretvori u
X-KDE-Submenu[hsb]=Konwertěrować na
X-KDE-Submenu[hu]=Konvertálás
X-KDE-Submenu[ia]=Converte a
X-KDE-Submenu[id]=Konversi Ke
X-KDE-Submenu[is]=Umbreyta í
X-KDE-Submenu[it]=Converti in
X-KDE-Submenu[ja]=変換
X-KDE-Submenu[ka]=გარდაქმნა
X-KDE-Submenu[kk]=Келесіге аудару:
X-KDE-Submenu[km]=បម្លែង​ទៅ
X-KDE-Submenu[kn]=ಇದಕ್ಕೆ ಪರಿವರ್ತಿಸು
X-KDE-Submenu[ko]=다음으로 변환
X-KDE-Submenu[ku]=Veguhezîne Ji
X-KDE-Submenu[lt]=Konvertuoti į
X-KDE-Submenu[lv]=Pārveidot uz
X-KDE-Submenu[mr]=यात रूपांतरीत करा
X-KDE-Submenu[nb]=Konverter til
X-KDE-Submenu[nds]=Ümwanneln na
X-KDE-Submenu[nl]=Converteren naar
X-KDE-Submenu[nn]=Gjer om til
X-KDE-Submenu[pa]=ਬਦਲੋ
X-KDE-Submenu[pl]=Przekształć do
X-KDE-Submenu[pt]=Converter Para
X-KDE-Submenu[pt_BR]=Converter para
X-KDE-Submenu[ro]=Convertește la
X-KDE-Submenu[ru]=Преобразовать в
X-KDE-Submenu[sk]=Previesť do
X-KDE-Submenu[sl]=Pretvori v
X-KDE-Submenu[sr]=Претвори у
X-KDE-Submenu[sr@ijekavian]=Претвори у
X-KDE-Submenu[sr@ijekavianlatin]=Pretvori u
X-KDE-Submenu[sr@latin]=Pretvori u
X-KDE-Submenu[sv]=Konvertera till
X-KDE-Submenu[tg]=Табдилкунӣ ба
X-KDE-Submenu[th]=แปลงเป็น
X-KDE-Submenu[tr]=Dönüştür
X-KDE-Submenu[ug]=ئايلاندۇر
X-KDE-Submenu[uk]=Перетворити на
X-KDE-Submenu[vi]=Chuyển đổi sang
X-KDE-Submenu[wa]=Kivierser viè
X-KDE-Submenu[x-test]=xxConvert Toxx
X-KDE-Submenu[zh_CN]=转换为
X-KDE-Submenu[zh_TW]=轉換為
TryExec=convert

[Desktop Action convToJPEG]
Name=JPEG
Name[ru]=JPEG
Icon=image-jpeg
Exec=convert %f "`echo %f | perl -pe 's/\\.[^.]+$//'`.jpg"

[Desktop Action convToPNG]
Name=PNG
Name[ru]=PNG
Icon=image-png
Exec=convert %f "`echo %f | perl -pe 's/\\.[^.]+$//'`.png"

[Desktop Action convToTIF]
Name=TIFF
Name[ru]=TIFF
Icon=image-tiff
Exec=convert %f "`echo %f | perl -pe 's/\\.[^.]+$//'`.tif"

[Desktop Action convToGIF]
Name=GIF
Name[ru]=GIF
Icon=image-gif
Exec=convert %f "`echo %f | perl -pe 's/\\.[^.]+$//'`.gif"

