[Desktop Entry]
Icon=preferences-web-browser-stylesheets
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kcontrol/kcmcss/index.html


X-KDE-Library=kcm_css

Name=Stylesheets
Name[ru]=Стили CSS
Comment=Configure the stylesheets used to render web pages
Comment[ru]=Настройка стилей CSS, используемых при показа веб-страниц

X-KDE-Keywords=CSS,HTML,style,stylesheet,accessibility
X-KDE-Keywords[bg]=стил,каскаден стил,достъпност,CSS,HTML,style,stylesheet,accessibility
X-KDE-Keywords[bs]=CSS,HTML,style,stylesheet,accessibility
X-KDE-Keywords[ca]=CSS,HTML,estil,fulls d'estil,accessibilitat
X-KDE-Keywords[ca@valencia]=CSS,HTML,estil,fulls d'estil,accessibilitat
X-KDE-Keywords[cs]=CSS,HTML,styl,styly,zpřístupnění
X-KDE-Keywords[da]=CSS,HTML,stil,stylesheet,stilark,tilgængelighed,accessibility
X-KDE-Keywords[de]=Stilvorlagen,Zugangshilfen
X-KDE-Keywords[el]=CSS,HTML,στιλ,φύλλο αισθητικής επικάλυψης,προσβασιμότητα
X-KDE-Keywords[en_GB]=CSS,HTML,style,stylesheet,accessibility
X-KDE-Keywords[es]=CSS,HTML,estilo,hoja de estilo,accesibilidad
X-KDE-Keywords[et]=CSS,HTML,stiil,laaditabel,hõlbustus
X-KDE-Keywords[eu]=CSS,HTML,etiloa,estilo-orri,irisgarritasun
X-KDE-Keywords[fi]=CSS,HTML,style,tyyli,stylesheet,tyylisivu,esteettömyys
X-KDE-Keywords[fr]=CSS, HTML, style, feuille de style, accessibilité
X-KDE-Keywords[ga]=CSS,HTML,stíl,stílbhileog,inrochtaineacht
X-KDE-Keywords[gl]=CSS,HTML,estilo,folla de estilos,accesibilidade
X-KDE-Keywords[he]=CSS,HTML,style,stylesheet,accessibility,סגנון,שימושיות
X-KDE-Keywords[hu]=CSS,HTML,stílus,stíluslap,akadálymentesítés
X-KDE-Keywords[ia]=CSS,HTML,stilo,folio de stilo,accessibilitate
X-KDE-Keywords[id]=CSS,HTML,gaya,lembar pengaya,aksesibilitas
X-KDE-Keywords[is]=CSS,HTML,stíll,stílblað,aðgengi,aðgangur
X-KDE-Keywords[it]=CSS,HTML,stile,foglio di stile,accessibilità
X-KDE-Keywords[ka]=CSS,HTML,style,stylesheet,accessibility
X-KDE-Keywords[kk]=CSS,HTML,style,stylesheet,accessibility
X-KDE-Keywords[km]=CSS HTML រចនាប័ទ្ម សន្លឹក​រចនាប័ទ្ម មធ្យោបាយ​ងាយស្រួល
X-KDE-Keywords[ko]=CSS,HTML,style,stylesheet,accessibility,스타일시트,접근성,스타일
X-KDE-Keywords[lt]=CSS,HTML,stilius,stiliaus aprašas,pritaikymas neįgaliesiems
X-KDE-Keywords[lv]=CSS,HTML,stils,stilu lapa,pieejamība
X-KDE-Keywords[nb]=CSS,HTML,stil,stilsett,tilgjengelighet
X-KDE-Keywords[nds]=CSS,HTML,Stil,Stilvörlaag,Toganghülp
X-KDE-Keywords[nl]=CSS,HTML,stijl,stijlblad,toegankelijkheid
X-KDE-Keywords[nn]=CSS,HTML,stil,stilsett,stilark,tilgjenge,universell utforming
X-KDE-Keywords[pl]=CSS,HTML,styl,arkusz stylów,dostępność
X-KDE-Keywords[pt]=CSS,HTML,estilo,stylesheet,folha de estilo,acessibilidade
X-KDE-Keywords[pt_BR]=CSS,HTML,estilo,planilha,folha de estilo,acessibilidade
X-KDE-Keywords[ro]=CSS,HTML,stil,foaie de stiluri,accesibilitate
X-KDE-Keywords[ru]=CSS,HTML,style,stylesheet,accessibility,стиль,таблица стилей,специальные возможности
X-KDE-Keywords[sk]=CSS,HTML,štýl,stylesheet,prístupnosť
X-KDE-Keywords[sl]=CSS,HTML,slog,slogovna predloga,dostopnost
X-KDE-Keywords[sr]=CSS,HTML,style,stylesheet,accessibility,ЦСС,ХТМЛ,стил,опис стила,приступачност
X-KDE-Keywords[sr@ijekavian]=CSS,HTML,style,stylesheet,accessibility,ЦСС,ХТМЛ,стил,опис стила,приступачност
X-KDE-Keywords[sr@ijekavianlatin]=CSS,HTML,style,stylesheet,accessibility,CSS,HTML,stil,opis stila,pristupačnost
X-KDE-Keywords[sr@latin]=CSS,HTML,style,stylesheet,accessibility,CSS,HTML,stil,opis stila,pristupačnost
X-KDE-Keywords[sv]=CSS,HTML,stil,stilmall,handikappstöd
X-KDE-Keywords[tr]=CSS,HTML,stil,stil dosyası,erişebilirlik,biçem,biçem sayfası
X-KDE-Keywords[uk]=CSS,HTML,style,stylesheet,accessibility,стиль,таблиця,стилів,доступність,можливості
X-KDE-Keywords[wa]=CSS,HTML,stîle,foye di stîle,accessibilité
X-KDE-Keywords[x-test]=xxCSSxx,xxHTMLxx,xxstylexx,xxstylesheetxx,xxaccessibilityxx
X-KDE-Keywords[zh_CN]=样式,样式表,辅助,访问性
X-KDE-Keywords[zh_TW]=CSS,HTML,style,stylesheet,accessibility

Categories=Qt;KDE;X-KDE-settings-webbrowsing;
