[Desktop Entry]
Type=Link
URL=file:/
Icon=folder-red
#Icon=folder-orange
Open=true
ShowHiddenFolders=false
X-KDE-TreeModule=Directory
X-KDE-KonqSidebarModule=konqsidebar_tree
X-KDE-Weight=11
Name=Root Folder
Name[ru]=Файловая система
Comment=This is the root of the filesystem
Comment[ru]=Файловая система
