[Desktop Entry]
Icon=preferences-system-performance
Type=Service
X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_performance
X-KDE-PluginKeyword=hybrid-fm
X-DocPath=kcontrol/performance/index.html

Name=Performance
Name[ru]=Быстродействие

Comment=Configure settings that can improve HybridFM performance
Comment[ru]=Настройка параметров, которые влияют на быстродействие HybridFM

X-KDE-Keywords=hybrid-fm,reuse,preloading
X-KDE-Keywords[bg]=зареждане,предварително,hybrid-fm,reuse,preloading
X-KDE-Keywords[bs]=hybrid-fm,reuse,preloading
X-KDE-Keywords[ca]=hybrid-fm,tornar a usar,precàrrega
X-KDE-Keywords[ca@valencia]=hybrid-fm,tornar a utilitzar,precàrrega
X-KDE-Keywords[da]=hybrid-fm,genbrug,preloading,forudindlæsning
X-KDE-Keywords[de]=wiederverwenden,Vorladen
X-KDE-Keywords[el]=hybrid-fm,επαναχρησιμοποίηση,προφόρτωση
X-KDE-Keywords[en_GB]=hybrid-fm,reuse,preloading
X-KDE-Keywords[es]=hybrid-fm,reutilización,precarga
X-KDE-Keywords[et]=hybrid-fm,taaskasutus,eellaadimine
X-KDE-Keywords[eu]=hybrid-fm,berrerabili,aurrezamatze
X-KDE-Keywords[fi]=hybrid-fm,uudelleenkäyttö,esilataus
X-KDE-Keywords[fr]=hybrid-fm, ré-utiliser, préchargement
X-KDE-Keywords[ga]=hybrid-fm,athúsáid,réamhluchtú
X-KDE-Keywords[gl]=hybrid-fm,reutilización,precarga
X-KDE-Keywords[he]=hybrid-fm,reuse,preloading,מחדש,שימוש מחדש, טעינה
X-KDE-Keywords[hsb]=hybrid-fm,reuse,preloading,začitanje
X-KDE-Keywords[hu]=hybrid-fm,újrafelhasználás,gyorsbetöltés
X-KDE-Keywords[ia]=hybrid-fm,reusa,precargante
X-KDE-Keywords[id]=hybrid-fm,gunakan ulang,prapemuatan
X-KDE-Keywords[is]=hybrid-fm,endurnýting,forræsing
X-KDE-Keywords[it]=hybrid-fm,riuso,precaricatore
X-KDE-Keywords[ka]=hybrid-fm,reuse,preloading
X-KDE-Keywords[kk]=hybrid-fm,reuse,preloading
X-KDE-Keywords[km]=hybrid-fm ប្រើ​ឡើងវិញ ការ​ផ្ទុក​ជាមុន
X-KDE-Keywords[ko]=hybrid-fm,reuse,preloading,프리로딩,재사용
X-KDE-Keywords[lt]=hybrid-fm,reuse,preloading
X-KDE-Keywords[lv]=hybrid-fm,priekšielāde
X-KDE-Keywords[mr]=कॉन्करर, पुनर्वापर, प्रीलोडींग
X-KDE-Keywords[nb]=hybrid-fm,gjenbruk,forehåndslasting
X-KDE-Keywords[nds]=HybridFM,Wedderbruuk,vörladen
X-KDE-Keywords[nl]=hybrid-fm,hergebruik,voorladen
X-KDE-Keywords[nn]=HybridFM,gjenbruk,førehandslasting
X-KDE-Keywords[pa]=ਕੋਨਕਿਉਰੋਰ,ਮੁੜ-ਵਰਤੋਂ,ਮੁੜ-ਲੋਡਕਰਨਾ
X-KDE-Keywords[pl]=hybrid-fm,ponowne wykorzystanie,wstępne wczytywanie
X-KDE-Keywords[pt]=hybrid-fm,reutilizar,pré-carregamento
X-KDE-Keywords[pt_BR]=hybrid-fm,reutilizar,pré-carregamento
X-KDE-Keywords[ro]=hybrid-fm,reutilizare,preîncărcare
X-KDE-Keywords[ru]=hybrid-fm,reuse,предварительная загрузка,повторное использование
X-KDE-Keywords[sk]=hybrid-fm,reuse,prednačítanie
X-KDE-Keywords[sl]=hybrid-fm,ponovno uporabi,prednalaganje
X-KDE-Keywords[sr]=hybrid-fm,reuse,preloading,К‑освајач,предучитавање
X-KDE-Keywords[sr@ijekavian]=hybrid-fm,reuse,preloading,К‑освајач,предучитавање
X-KDE-Keywords[sr@ijekavianlatin]=hybrid-fm,reuse,preloading,K‑osvajač,predučitavanje
X-KDE-Keywords[sr@latin]=hybrid-fm,reuse,preloading,K‑osvajač,predučitavanje
X-KDE-Keywords[sv]=hybrid-fm,återanvändning,förladdning
X-KDE-Keywords[tr]=hybrid-fm,yeniden kullanım,önceden yükleme
X-KDE-Keywords[uk]=hybrid-fm,reuse,preloading,повторне,використання,попереднє,завантаження
X-KDE-Keywords[wa]=hybrid-fm,reployaedje,prétcherdjaedje
X-KDE-Keywords[x-test]=xxhybrid-fmxx,xxreusexx,xxpreloadingxx
X-KDE-Keywords[zh_CN]=hybrid-fm,reuse,preloading,复用,预加载
X-KDE-Keywords[zh_TW]=hybrid-fm,reuse,preloading
