[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule

X-DocPath=kcontrol5/khtml-adblock/index.html
Icon=preferences-web-browser-adblock

X-KDE-Library=kcm_konqhtml

Name=AdBlocK Filters
Name[ru]=Блокирование рекламы

Comment=Configure HybridFM AdBlocK filters
Comment[ru]=Настройка блокирования рекламы для HybridFM

Categories=Qt;KDE;X-KDE-settings-webbrowsing;
