[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kcontrol5/khtml-general/index.html
Icon=hybrid-fm

X-KDE-Library=kcm_konqhtml

# ctxt: Konqeuror settings relevant to both web browsing and file management.
Name=General
Name[ru]=Основное
Comment=Configure general HybridFM behavior
Comment[ru]=Общие параметры HybridFM
X-KDE-Keywords=hybrid-fm,tabs
X-KDE-Keywords[bg]=подпрозорци,hybrid-fm,tabs
X-KDE-Keywords[bs]=hybrid-fm,tabs
X-KDE-Keywords[ca]=hybrid-fm,pestanyes
X-KDE-Keywords[ca@valencia]=hybrid-fm,pestanyes
X-KDE-Keywords[cs]=hybrid-fm,karty
X-KDE-Keywords[da]=hybrid-fm,faneblade
X-KDE-Keywords[de]=Unterfenster
X-KDE-Keywords[el]=HybridFM,καρτέλες
X-KDE-Keywords[en_GB]=hybrid-fm,tabs
X-KDE-Keywords[es]=hybrid-fm,pestañas
X-KDE-Keywords[et]=hybrid-fm,kaardid
X-KDE-Keywords[eu]=hybrid-fm,fitxak
X-KDE-Keywords[fi]=hybrid-fm,välilehdet
X-KDE-Keywords[fr]=hybrid-fm, onglets
X-KDE-Keywords[ga]=HybridFM,cluaisíní
X-KDE-Keywords[gl]=hybrid-fm,separadores
X-KDE-Keywords[he]=hybrid-fm,tabs
X-KDE-Keywords[hsb]=hybrid-fm, tabs, jězdniki
X-KDE-Keywords[hu]=hybrid-fm,lapok
X-KDE-Keywords[ia]=hybrid-fm,schedas
X-KDE-Keywords[id]=HybridFM,tab
X-KDE-Keywords[is]=hybrid-fm,flipar
X-KDE-Keywords[it]=hybrid-fm,schede
X-KDE-Keywords[ka]=hybrid-fm,tabs
X-KDE-Keywords[kk]=hybrid-fm,tabs
X-KDE-Keywords[km]=hybrid-fm ផ្ទាំង
X-KDE-Keywords[ko]=hybrid-fm,tabs,탭
X-KDE-Keywords[lt]=HybridFM,kortelės
X-KDE-Keywords[lv]=hybrid-fm,cilnes
X-KDE-Keywords[mr]=कॉन्करर, टॅब्स
X-KDE-Keywords[nb]=hybrid-fm,faner
X-KDE-Keywords[nds]=HybridFM,Paneels
X-KDE-Keywords[nl]=hybrid-fm,tabbladen
X-KDE-Keywords[nn]=HybridFM,faner
X-KDE-Keywords[pa]=ਕੋਨਕਿਉਰੋਰ,ਟੈਬ
X-KDE-Keywords[pl]=hybrid-fm,karty
X-KDE-Keywords[pt]=hybrid-fm,páginas
X-KDE-Keywords[pt_BR]=hybrid-fm,abas
X-KDE-Keywords[ro]=hybrid-fm,file
X-KDE-Keywords[ru]=hybrid-fm,tabs,вкладки
X-KDE-Keywords[sk]=hybrid-fm,karty
X-KDE-Keywords[sl]=hybrid-fm,zavihki
X-KDE-Keywords[sr]=hybrid-fm,tabs,К‑освајач,језичци
X-KDE-Keywords[sr@ijekavian]=hybrid-fm,tabs,К‑освајач,језичци
X-KDE-Keywords[sr@ijekavianlatin]=hybrid-fm,tabs,K‑osvajač,jezičci
X-KDE-Keywords[sr@latin]=hybrid-fm,tabs,K‑osvajač,jezičci
X-KDE-Keywords[sv]=hybrid-fm,flikar
X-KDE-Keywords[tr]=hybrid-fm,sekmeler
X-KDE-Keywords[uk]=hybrid-fm,tabs,вкладка,вкладки
X-KDE-Keywords[wa]=hybrid-fm,linwetes
X-KDE-Keywords[x-test]=xxhybrid-fmxx,xxtabsxx
X-KDE-Keywords[zh_CN]=标签页
X-KDE-Keywords[zh_TW]=hybrid-fm,tabs

Categories=Qt;KDE;
