[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kcontrol5/khtml-java-js/index.html
Icon=java
X-KDE-Library=kcm_konqhtml

Name=Java & JavaScript
Name[ru]=Java и JavaScript
Comment=Configure the behavior of Java and JavaScript
Comment[ru]=Настройка поведения Java и JavaScript
X-KDE-Keywords=hybrid-fm,kfm,browser,html,web,www,java,javascript
X-KDE-Keywords[bg]=браузър,уеб,скрипт,hybrid-fm,kfm,browser,html,web,www,java,javascript
X-KDE-Keywords[bs]=hybrid-fm,kfm,browser,html,web,www,java,javascript
X-KDE-Keywords[ca]=hybrid-fm,kfm,navegador,html,web,www,java,javascript
X-KDE-Keywords[ca@valencia]=hybrid-fm,kfm,navegador,html,web,www,java,javascript
X-KDE-Keywords[cs]=hybrid-fm,kfm,prohlížeč,html,web,www,java,javascript
X-KDE-Keywords[da]=hybrid-fm,kfm,browser,html,web,www,java,javascript
X-KDE-Keywords[de]=Internet,webbrowser
X-KDE-Keywords[el]=hybrid-fm,kfm,περιηγητής,html,ιστός,www,java,javascript
X-KDE-Keywords[en_GB]=hybrid-fm,kfm,browser,html,web,www,java,javascript
X-KDE-Keywords[es]=hybrid-fm,kfm,navegador,html,web,www,java,javascript
X-KDE-Keywords[et]=hybrid-fm,kfm,brauser,html,veeb,www,java,javascript
X-KDE-Keywords[eu]=hybrid-fm,kfm,arakatzaile,html,web,www,java,javascript
X-KDE-Keywords[fi]=hybrid-fm,kfm,selain,html,web,www,java,javascript
X-KDE-Keywords[fr]=hybrid-fm, kfm, navigateur, html, web, www, java, javascript
X-KDE-Keywords[ga]=hybrid-fm,kfm,brabhsálaí,html,gréasán,www,java,javascript
X-KDE-Keywords[gl]=hybrid-fm,kfm,navegador,html,web,www,java,javascript
X-KDE-Keywords[hsb]=hybrid-fm,kfm,browser,čušlak,html,web,www,java,javascript
X-KDE-Keywords[hu]=hybrid-fm,kfm,böngésző,html,web,www,java,javascript
X-KDE-Keywords[ia]=hybrid-fm,kfm,navigator,html,web,java,javascript
X-KDE-Keywords[id]=hybrid-fm,kfm,penelusur,html,web,www,java,javascript
X-KDE-Keywords[is]=hybrid-fm,kfm,browser,html,web,www,java,javascript,vafri
X-KDE-Keywords[it]=hybrid-fm,kfm,browser,html,web,www,java,javascript
X-KDE-Keywords[ka]=hybrid-fm,kfm,browser,html,web,www,java,javascript
X-KDE-Keywords[kk]=hybrid-fm,kfm,browser,html,web,www,java,javascript
X-KDE-Keywords[km]=hybrid-fm kfm កម្មវិធី​រុករក html បណ្ដាញ www java javascript
X-KDE-Keywords[ko]=hybrid-fm,kfm,browser,html,web,www,java,javascript,브라우저,웹,자바,자바스크립트
X-KDE-Keywords[lt]=hybrid-fm,kfm,naršyklė,html,žiniatinklis,www,java,javascript
X-KDE-Keywords[lv]=hybrid-fm,kfm,pārlūks,html,web,www,java,javascript
X-KDE-Keywords[nb]=hybrid-fm,kfm,nettleser,html,vev,www,java,javascript
X-KDE-Keywords[nds]=HybridFM,kfm,Nettkieker,html,Nett,www,Java,Javaskript
X-KDE-Keywords[nl]=hybrid-fm,kfm,browser,html,web,www,java,javascript
X-KDE-Keywords[nn]=HybridFM,kfm,nettlesar,HTML,nettet,WWW,java,javascript
X-KDE-Keywords[pl]=hybrid-fm,kfm,przeglądarka,html,sieć,www,java,javascript
X-KDE-Keywords[pt]=hybrid-fm,kfm,navegador,HTML,Web,WWW,Java,Javascript
X-KDE-Keywords[pt_BR]=hybrid-fm,kfm,navegador,html,web,www,java,javascript
X-KDE-Keywords[ro]=hybrid-fm,kfm,navigator,html,web,www,java,javascript
X-KDE-Keywords[ru]=hybrid-fm,kfm,browser,html,web,www,java,javascript,браузер,веб
X-KDE-Keywords[sk]=hybrid-fm,kfm,prehliadač,html,web,www,java,javascript
X-KDE-Keywords[sl]=hybrid-fm,kfm,brskalnik,html,splet,www,java,javascript
X-KDE-Keywords[sr]=hybrid-fm,kfm,browser,html,web,www,java,javascript,К‑освајач,КФМ,прегледач,ХТМЛ,веб,јава,јаваскрипт
X-KDE-Keywords[sr@ijekavian]=hybrid-fm,kfm,browser,html,web,www,java,javascript,К‑освајач,КФМ,прегледач,ХТМЛ,веб,јава,јаваскрипт
X-KDE-Keywords[sr@ijekavianlatin]=hybrid-fm,kfm,browser,html,web,www,java,javascript,K‑osvajač,KFM,pregledač,HTML,veb,Java,JavaScript
X-KDE-Keywords[sr@latin]=hybrid-fm,kfm,browser,html,web,www,java,javascript,K‑osvajač,KFM,pregledač,HTML,veb,Java,JavaScript
X-KDE-Keywords[sv]=hybrid-fm,kfm,webbläsare,html,web,www,java,javascript
X-KDE-Keywords[tr]=hybrid-fm,kfm,browser,html,web,www,java,javascript
X-KDE-Keywords[uk]=hybrid-fm,kfm,browser,html,web,www,java,javascript,перегляд,переглядач,браузер,мережа,джава,ява,скрипт
X-KDE-Keywords[wa]=hybrid-fm,kfm,betchteu,html,waibe,waibes,www,java,javascript
X-KDE-Keywords[x-test]=xxhybrid-fmxx,xxkfmxx,xxbrowserxx,xxhtmlxx,xxwebxx,xxwwwxx,xxjavaxx,xxjavascriptxx
X-KDE-Keywords[zh_CN]=hybrid-fm,kfm,browser,html,web,www,java,javascript,浏览器,网络
X-KDE-Keywords[zh_TW]=hybrid-fm,kfm,browser,html,web,www,java,javascript

Categories=Qt;KDE;X-KDE-settings-webbrowsing;
